/* Changes color of links in navbar to white. */
.navlink {
    color: white;
}

/* Styling for background section. */
section {
    background-color:lightseagreen;
    /* padding: 80px; */

}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}


/* Styling for About Me section. */
#aboutMe {
    background-color:lightseagreen;
    display: block;
}

/* Styling for Contact Me section. */
#bgcontainer {
    background-color: lightyellow;
    border-radius: 1rem;
}

/* Styling for Portofolio page. */
#portfolioPage {
    background-color:lightseagreen;
    display: none;
    text-align: center;
    padding-top: 10px;

}

#portfolioHighlights {
    background-color: white;
    display: none;
    padding: 10px;
}

.projectScreenShotDetails {
    width: 100%;
}

#connectWithMe {
    border-radius: 1rem;
    display: block;
    margin-top: 50px;
}

#emailLinkColor {
    color: white;
}

#emailAndPhoneNumber {
    padding: 0; 
    color: white;
}

/* Styling for about me image. */
#headshot {
    float: left;
    margin-right: 20px;
    width:50%;
    border-radius: 1rem;
}

.portfolioshots {
    float: left;    
    border-color: black;
    margin-top: 10px;
    margin-bottom: 10px;    
    width: 100%;
}

/* Footer styling.  */
footer {
    background-color: rgb(58, 57, 57);
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    line-height: 80px; /* Vertically center the text there */
}


@media only screen and (max-width: 991px) {
    #portfolioPage, .LI-profile-badge {
     margin-top: 30px;
    }
  }