/* Changes color of links in navbar to white. */
.navlink {
    color: white;
}

/* Styling for background section. */
section {
    background-color:lightseagreen;
    padding: 60px;

}

/* Styling for About Me section. */
#aboutMe {
    background-color: white;
    /* border-radius: 1rem; */
    display: block;
}

/* Styling for Contact Me section. */
#bgcontainer {
    background-color: lightyellow;
    border-radius: 1rem;
}

/* Styling for Portofolio page. */
#portfolioPage {
    background-color: white;
    display: none;
    text-align: center;
    padding-top: 10px;

}

#portfolioHighlights {
    background-color: aliceblue;
    display: none;
    padding: 10px;
}

.projectScreenShotDetails {
    width: 100%;
}

#connectWithMe {
    border-radius: 1rem;
    display: block;
}

#emailLinkColor {
    color: white;
}

#emailAndPhoneNumber {
    padding: 0; 
    /* margin-top: 15px; */
    color: white;
}

/* Styling for about me image. */
 #headshot {
    float: left;
    margin-right: 20px;
    width:50%;
}

.portfolioshots {
    float: left;    
    border-color: black;
    /* margin-left: 10px; */
    margin-top: 10px;
    margin-bottom: 10px;    
    width: 100%;
}

/* Footer styling.  */
footer {
    background-color: rgb(58, 57, 57);
    padding: 10px;
    color: white;
}